<!DOCTYPE html>
<html lang="en">
<head>
  <title>Bootstrap Example</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
  <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"></script>

  <nav class="navbar navbar-dark bg-dark" >
      <a class="navbar-brand" href="#">
      <img src="https://ts.accenture.com/sites/BrandSpace/Pages/downloads/artworks/images/greater_than_palettes/4_Accenture_Technology_dimensional.png" width="30" height="30" class="d-inline-block align-top" alt="">
      Accenture ML_PRED
      </a>

      <form class="form-inline my-2 my-lg-0" method="POST">
      <input class="form-control mr-sm-2" type="search" name="user_id" id="user_id"  placeholder="Search User ID" aria-label="Search">
      <button class="btn btn-outline-success my-2 my-sm-0" type="submit">Search</button>
      </form>
  </nav>

</head>


<body style="background-color: #f7ece0;">

{% block content %}{% endblock %}

</body>
</html>

