{% extends 'base.html' %}

{% block content %}
<p></p>

<div class="container-fluid">

<div class="card-deck">

  <div class="card border-dark  bg-dark text-white mb-3">
    <div class="card-header">Employees currently enrolled in a course</div>
    <div class="card-body text-white text-center p-0">
      <p class="card-text"><p class="h1 display-3 p-0"> <b>104644</b> </p></p>
    </div>
  </div>

  <div class="card border-dark  bg-dark text-white  mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-white">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dark bg-dark text-white mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-white">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>

<img src="static/graph1.png" class="img-fluid img-thumbnail" alt="Responsive image">

</div>
{% endblock %}
