{% extends 'base.html' %}

{% block content %}
<p></p>

<div class="container-fluid">

<div class="card-deck">

  <div class="card border-dark  bg-secondary text-white mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-white">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dark  bg-secondary text-white  mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-white">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

  <div class="card border-dark bg-secondary text-white mb-3">
    <div class="card-header">Header</div>
    <div class="card-body text-white">
      <h5 class="card-title">Primary card title</h5>
      <p class="card-text">Some quick example text to build on the card title and make up the bulk of the card's content.</p>
    </div>
  </div>

</div>


</div>
{% endblock %}
