{% extends 'base.html' %}

{% block content %}
<p></p>

<div class="container-fluid">

<div class="card-deck">

  <div class="card border-dark  bg-dark text-white mb-3">
    <div class="card-header">Employees currently enrolled in a course</div>
    <div class="card-body text-white text-center p-0">
      <p class="card-text"><p class="h1 display-3 p-0"> <b>104644</b> </p></p>
    </div>
  </div>

  <div class="card border-dark  bg-dark text-white mb-3">
    <div class="card-header">Percentage slated to fail</div>
    <div class="card-body text-white text-center p-0">
      <p class="card-text"><p class="h1 display-3 p-0"> <b>42%</b> </p></p>
    </div>
  </div>

  <div class="card border-dark  bg-dark text-white mb-3">
    <div class="card-header">Percentage undetermined</div>
    <div class="card-body text-white text-center p-0">
      <p class="card-text"><p class="h1 display-3 p-0"> <b>15%</b> </p></p>
    </div>
  </div>

</div>

<p> <img src="static/graph1.png" class="img-fluid img-thumbnail" alt="Responsive image"> </p>
<p> <img src="static/graph2.png" class="img-fluid img-thumbnail" alt="Responsive image"> </p>
<p> <img src="static/graph3.png" class="img-fluid img-thumbnail" alt="Responsive image"> </p>

</div>
{% endblock %}
