{% extends 'base.html' %}

{% block content %}
<div class="container-fluid">
  <div class="row">
    <div class="col-4" >
      <p></p>

        <div class="card border-dark  bg-dark text-white " style="width: 18rem;">

        <img class="card-img-top" src="https://ts.accenture.com/sites/BrandSpace/Pages/downloads/artworks/images/greater_than_palettes/4_Accenture_Technology_dimensional.png" alt="Card image cap">
        <div class="card-body">
          <h5 class="card-title">{{details.firstname}} {{details.lastname}} </h5>
          <p class="card-text">Currently working through <br> {{details.unit}}</p>
        </div>
        <ul class="list-group list-group-flush bg-dark text-white ">
          <li class="list-group-item bg-dark ">{{details.email}}</li>
          <li class="list-group-item bg-dark ">Age: {{details.age}}</li>
          <li class="list-group-item bg-dark ">St Louis: {{details.city}} </li>
        </ul>

        </div>

    </div>

    <div class="col-12">
    
    </div>

  </div>


</div>


</div>
{% endblock %}
